@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="nav-link text-primary">Welcome</h1>

    <h1 class="nav-link text-danger"" >SchoolApp with ASP.NET Core.</h1>

    <div id="wrapper">

    </div>



</div>
-

